.sliderimage{
    width: 100%;
    overflow-x: hidden;
}
.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .sliderimage {
    width: 100%;
    height: auto;
    display: block;
  }
  .imagetext {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: start;
    padding: 20px;  border-radius: 10px;
  }
  .imagetext h2{
    font-size: 40px;
  }
  .btn{
    height: 50px;
width: 170px;
background-color: black;
  }
.box img{
    height: 250px !important;
    width: 100%;
    padding: 10px;
    background-color: #e9ecf3;
    object-fit: contain;
  }
