
.product-image-wrapper {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 12px;
  }
.product-image{
    height: 400px;
    width: 100%;
    background: none !important;
    object-fit: contain;
}

  