.card-img-top {
  transition: transform 0.3s ease-in-out;
  height: 350px !important;
  object-fit: contain !important;
  background-color: #f0f2f5 !important;
}
.card-img-top:hover {
  transform: scale(1.05);
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  .catalog-image {
    height: 300px !important;
    object-fit: contain !important;
  }
  .catalog-title {
    text-align: center;
  }
}
