.topbar {
  height: 50px;
  width: 100%;
  background-color: white !important;
  position: absolute;
  z-index: 10;

}
.topbar p {
  color: black;
  text-align: center;
}
.navbar {
  padding-top: 60px;
  height: 120px;
}
.navbar-brand img {
  height: 50px !important;
  filter: invert(1);
}
.nav-link {
  font-size: 17px;
  font-size: bold;
  text-align: center;
  padding: 20px !important;
}
.nav-link:hover {
  color: red !important;
}
